<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let Lista of deseosService.listas" detail (click)="listaSeleccionada(Lista)">
            <ion-label>{{Lista.titulo}}</ion-label>
            <ion-note slot="end" color="primary">{{Lista.items.length}} items</ion-note>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>